* {
    margin: 0;
    padding: 0;
    border: 1px solid lightgrey;
}

body {
    font-size: 14px;
}


html, body, #root {
    border: none;
}

.main-wrapper {
    display: grid;
    grid-template-areas: "header header" "sidebar content" "sidebar footer";
    grid-template-rows: 50px 1fr;
    grid-template-columns: 1fr 5fr;
    grid-gap: 3px;
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.header {
    grid-area: header;
}

.content {
    padding: 10px;
    grid-area: content;
}

.sidebar {
    grid-area: sidebar;
}

.footer {
    grid-area: footer;
    text-align: center;
}